---
interface Props {
	v: Number;
  s :Number;
}

const { v,s } = Astro.props;

if (!v) {
	throw new Error('Missing prop `v` on `<ayah>` component.');
}
if (!s) {
	throw new Error('Missing prop `s` on `<ayah>` component.');
}
const Response =await fetch(`https://api.alquran.cloud/v1/ayah/${s}:${v}`)
const data = await Response.json()
---


<span class= "ayah not-content">﴿ {data.data.text}   <span class="ayah-marker">{data.data.number} </span> ﴾</span>    {data.data.surah.name}.




<style is:inline >
.ayah {
  color: var(--sl-color-text-accent);
}
.ayah-marker {
  padding: 0 .5em;
  display: inline-block;
  position: relative;
}

.ayah-marker::after {
  content: "\06DD";
  display: block;
  position: absolute;
  font-size: 1.5em;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}

</style>
