---
interface Props {
	id: String
}

const { id } = Astro.props;

if (!id) {
	throw new Error('Missing prop `id` on `<hadith>` component.');
}


let Response =await fetch(`http://localhost:5000/v1/site/hadith/${id}`)
let data = await Response.json()
---

	<span class=" pbuh">قال رسول الله صلى الله عليه وسلم: </span>
<br>
	<span class="hadith">{data.data.hadith}</span>
	<hr>
	الراوي:
	{data.data.rawi} 
	<hr>
	المحدث:
	{data.data.mohdith} 
	<hr>
	المصدر:
	{data.data.book}
	<hr>
	الصفحة أو الرقم : 
	{data.data.numberOrPage}
	<hr>
	خلاصة حكم المحدث :
	{data.data.grade}
<style is:inline>
	.pbuh {
		color: var(--sl-color-accent-high);
	}
	.hadith{
		color: var(--sl-color-gray-1);
	}
</style>